---
layout: articles
show_title: false
---

<center><br>
<ul class="category-title"><h1>{{page.title}}</h1></ul>
<br></center>

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h2>
        <a style="color:black" type="text-decoration:none" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small style="color:cadetblue"><small>{{ post.date | date:"%Y %B %-d"}}</small></small>
      </h2><br>
    </li>
  {% endfor %}
</ul>
